* {
  color: #000; }

body {
  font-family: "Roboto";
  font-size: 12px; }

.sidebar {
  position: relative;
  flex-direction: row;
  background: none;
  border-bottom: 2px solid #000;
  box-shadow: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .sidebar svg {
    margin-right: 0.5em; }
  .sidebar a {
    text-decoration: none; }

.name {
  width: 100%;
  font-size: 6em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  order: 0;
  color: #e91e63 !important; }

.socials {
  order: -1;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; }
  .socials li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .socials li:after {
      content: attr(data-username);
      margin-right: 0.5em; }

hr {
  display: none; }

.full {
  width: 100%;
  margin-left: 0; }
  .full h1 {
    text-align: center;
    margin-bottom: 0.25em; }

.profile-picture {
  display: none; }
  .profile-picture img {
    width: 100%;
    height: auto; }

#print,
#email,
#download,
.buttons {
  display: none; }

.highlights {
  display: flex;
  align-items: flex-start;
  justify-content: space-around; }

.highlight {
  width: 45%; }
  .highlight svg {
    display: none; }

.highlight__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

.highlight__bullets {
  margin: 0;
  padding: 0;
  display: block !important;
  padding: 0 1.5em; }

.skills__container {
  display: flex;
  width: 100%;
  margin: 0 auto; }

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; }
  .skills .skills_cat-title {
    width: 100%;
    display: block;
    text-align: left; }

.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .skill img {
    width: 1em;
    margin-right: 0.5em; }
  .skill .skill__title {
    margin: 0.15em 0; }
  .skill svg {
    margin-right: 0.5em; }

#timeline #horizontal {
  display: block;
  width: 80%;
  margin: 0 auto; }

#timeline svg {
  display: none; }

.projects {
  display: none; }

.ThinItalic {
  font-weight: 100;
  font-style: italic; }

.LightItalic {
  font-weight: 100;
  font-style: italic; }

.Bold {
  font-weight: bold; }

.portfolio-text {
  text-align: center;
  padding: 0.25em;
  color: #e91e63; }

.portfolio-button {
  display: none; }
