/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.skills {
  width: 100%;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.6);
  padding: 1em; }
  @media (max-width: 60em) {
    .skills {
      align-items: flex-end; } }

.skills_cat-title {
  width: 100%;
  margin: 1em 0;
  font-size: 3em;
  text-align: center;
  line-height: 1em; }
  .skills_cat-title:first-of-type {
    margin-top: 0; }

.skill {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.5em;
  line-height: 3em;
  flex-wrap: wrap; }
  .skill svg {
    font-size: 4em;
    margin: 0 0.25em; }
  .skill img {
    width: 4em;
    margin: 0 0.25em; }
  @media (max-width: 60em) {
    .skill {
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0.5em 0;
      padding: 0.5em;
      border-bottom: 1px solid #ccc; }
      .skill svg {
        font-size: 1.5em; }
      .skill img {
        width: 1.5em; } }

.skill__title {
  width: 100%;
  text-align: center;
  line-height: 1.5em; }
  @media (max-width: 60em) {
    .skill__title {
      width: auto;
      text-align: center; } }

.projects {
  width: 100%;
  margin-bottom: 0.5em; }
  .projects .grid {
    justify-content: space-between;
    align-items: flex-start; }
  .projects .project {
    line-height: 1.4em;
    margin: 1em 0 2em;
    width: 100%; }
    @media (min-width: 70em) {
      .projects .project {
        width: 47%; } }
    .projects .project h2 {
      text-align: center;
      margin: 1em 0;
      font-weight: bold; }
    .projects .project p {
      width: 100%;
      margin: 0 auto 0.5em;
      line-height: 1.4em;
      font-size: 1.5em; }
      @media (max-width: 60em) {
        .projects .project p {
          width: 95%; } }
    .projects .project .button {
      width: 100%;
      text-align: center;
      display: block;
      color: #e91e63;
      border: 2px solid #e91e63;
      border-radius: .25em;
      text-decoration: none;
      font-size: 1.25em;
      padding: 0.25em;
      margin-bottom: 0.5em;
      transition: all 300ms; }
      .projects .project .button:hover {
        color: #fff;
        background: #e91e63; }
    .projects .project iframe {
      box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.6); }
    .projects .project #result-box iframe {
      width: 200% !important;
      height: 200% !important;
      -webkit-transform: scale(0.5);
      transform: scale(0.5); }
    .projects .project img {
      max-width: 100%;
      margin: 0 auto 0.5em;
      display: block;
      box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.6); }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 60em) {
    html {
      font-size: 12px; } }

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.75em; }

a {
  color: inherit; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.65em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  text-align: center; }

h3 {
  margin-top: 1em;
  font-size: 1em; }

b {
  font-weight: 900; }

hr {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid rgba(255, 255, 255, 0.6); }

.sidebar {
  font-family: "Roboto", sans-serif;
  width: 20vw;
  background: #3e50b3;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  box-shadow: 0 -5px 15px -2px rgba(0, 0, 0, 0.7);
  z-index: 2; }
  @media (max-width: 60em) {
    .sidebar {
      position: relative;
      width: 100vw;
      height: auto; } }
  .sidebar a {
    transition: all 300ms; }
    .sidebar a:hover {
      color: #e91e63; }

.profile-picture {
  display: flex;
  margin-top: 1em;
  width: 16vw;
  height: 16vw;
  background: url("https://harnerdesigns.com/wp-content/uploads/2018/05/Snapchat-453121577-e1527365801252.jpg") center center/cover;
  border-radius: 100%;
  border: 1px solid #fff; }
  .profile-picture .profile-picture__img {
    border-radius: 100%;
    width: 100%;
    height: auto; }
  @media (max-width: 60em) {
    .profile-picture {
      width: 80vw;
      height: 80vw; } }

.name {
  margin: 0.5em 0;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  line-height: 1.2em; }

.socials {
  margin-top: 1rem;
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap; }
  .socials li {
    margin: 0 0.3em; }
  .socials svg {
    font-size: 2em; }

.email a,
.portfolio a,
.location a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms; }

.email svg,
.portfolio svg,
.location svg {
  margin-right: 0.25em; }

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto; }
  @media (max-width: 60em) {
    .buttons {
      margin-top: 0.5em; } }

#print,
#email,
#download {
  width: 30%;
  font-size: 0.8rem;
  background: none;
  color: #fff;
  border: none;
  padding: 0.25em;
  cursor: pointer;
  transition: all 300ms;
  margin: 0 0 0.5em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #print:hover,
  #email:hover,
  #download:hover {
    background: #ee4c83; }
  #print:active,
  #email:active,
  #download:active {
    background: #c1134e; }
  #print:first-of-type,
  #email:first-of-type,
  #download:first-of-type {
    margin: auto 0 0.5em; }
  #print svg,
  #email svg,
  #download svg {
    font-size: 2em; }
  @media (max-width: 60em) {
    #print,
    #email,
    #download {
      font-size: 1.5em;
      flex-direction: row; }
      #print svg,
      #email svg,
      #download svg {
        font-size: 1em;
        margin-right: 0.25em; } }

#email,
#print {
  text-align: center;
  opacity: 1;
  background: none; }

@media (max-width: 60em) {
  #print {
    display: none; } }

#download,
.button {
  text-align: center; }

.portfolio-text {
  display: none; }

.portfolio-button,
.project-button {
  text-align: center;
  background: #e91e63;
  color: #fff;
  padding: 0.25em;
  font-size: 2em;
  width: 100%;
  text-decoration: none;
  margin: 2em 0;
  border-radius: 0.25em; }
  @media (max-width: 60em) {
    .portfolio-button,
    .project-button {
      margin: 0.5em 0; } }

.full {
  width: 76vw;
  margin-left: 20vw;
  padding: 1vw 0 0 4vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (max-width: 60em) {
    .full {
      width: 100vw;
      margin-left: 0;
      padding: 1em; } }
  .full h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: #e91e63;
    line-height: 3rem;
    font-weight: 900; }

.intro {
  width: 80%;
  font-size: 2rem;
  line-height: 1.4em;
  margin-bottom: 1em; }
  @media (max-width: 60em) {
    .intro {
      width: 95%;
      font-size: 1.5rem; } }

.highlights {
  width: 100%; }

.highlight {
  width: 100%;
  font-size: 1.5rem;
  padding: 1em;
  margin: 0.5em 0;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.6); }
  .highlight .title {
    text-align: left;
    margin-top: 0;
    padding: 0.35em 0;
    font-size: 1.5em;
    font-weight: bold; }
    .highlight .title svg {
      margin-right: 0.5em; }
  .highlight .company {
    font-size: 1.25em;
    font-weight: 100;
    font-style: italic; }
  .highlight .highlight__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; }
    .highlight .highlight__header svg {
      color: #e91e63; }
  .highlight .highlight__bullets {
    list-style: inside; }
    .highlight .highlight__bullets li {
      margin-bottom: 0.5em;
      padding-left: 0.5em; }

#timeline {
  width: 100%; }
  @media (max-width: 60em) {
    #timeline {
      width: 95%; } }
  #timeline #horizontal {
    width: 100%;
    height: auto; }
  #timeline svg {
    width: 100%;
    height: auto; }

.ThinItalic {
  font-weight: 100;
  font-style: italic; }

.LightItalic {
  font-weight: 100;
  font-style: italic; }

.Bold {
  font-weight: bold; }

footer {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding-left: 20vw;
  padding: 1em 0 1em 20vw; }
  @media (max-width: 60em) {
    footer {
      padding: 1em; } }
  footer .fa-heart {
    color: #f44336; }
  footer a {
    text-decoration: none; }
